ErrorDocument 404 /webtools/404.html

RewriteEngine On
RewriteBase /webtools/


RewriteRule ^articles/$ articles.html [R]
RewriteRule ^articles/([^/]+)/?([^/]+)?$  articles.html?article:id=$1&action:article:$2= [L]
#RewriteRule ^(articles/[^/]+?)$ $1/ [R]
#RewriteRule ^articles/([^/]+?)$ articles.html?article:id=$1 [NC,L]
#RewriteRule ^articles/(([0123456789]*?)/)?([^/]*)/?$ articles.html?article:id=$2&action:article:$3= [NC,L]


#RewriteCond %{REQUEST_URI} !\.html$
#RewriteRule ^([^/]+)$    $1/index.html

RewriteRule ^$    index.html [R,L]


RewriteRule ^(.*?)\.html handle.php [L]

RewriteRule ^wiki/(.*)$	wiki.html?wiki:title=$1&%{QUERY_STRING} [R]


# This is handled internally
RewriteRule ^lib/	404.html [R=404,L]
RewriteRule ^content/	404.html [R=404,L]
RewriteRule ^psp/	404.html [R=404,L]
RewriteRule ^style/	404.html [R=404,L]
RewriteRule ^db/	404.html [R=404,L]

RewriteRule ^img/	handle.php [L]
RewriteRule ^js/	handle.php [L]
RewriteRule ^css/	handle.php [L]
RewriteRule ^ckeditor/	handle.php [L]

